.page {
  padding: var(--page-padding) var(--page-padding) 96px;
  max-width: var(--page-width);
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .page {
    max-width: var(--page-width-lg);
    padding: var(--page-padding-lg) var(--page-padding-lg) 96px;
  }
}

