.header {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  margin-bottom: 12px;
}

.left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.total {
  opacity: 0.9;
  font-weight: 700;
}

.list {
  display: grid;
  gap: 10px;
}

.rowBetween {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}
